In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("LandUseForecasts.csv")

In [11]:
df.head()

,Station,Population1/2mi2016,Employment1/2mi2016,Total1/2mi2016,Population1/2mi2040,Employment1/2mi2040,Total1/2mi2040,Population2mi2016,Employment2mi2016,Total2mi2016,Population2mi2040,Employment2mi2040,Total2mi2040
0,Transbay,"\t10,418","\t225,227","\t235,645","\t24,608","\t229,725","\t254,333","\t149,819","\t361,278","\t511,097","\t211,565","\t383,324","\t594,889"
1,4th and King,"\t10,169","\t30,367","\t40,536","\t31,967","\t66,370","\t98,337","\t54,840","\t138,340","\t193,180","\t98,519","\t161,547","\t260,066"
2,22nd St,"\t8,271","\t7,755","\t16,026","\t13,048","\t9,792","\t22,840","\t104,383","\t56,398","\t160,781","\t142,674","\t80,870","\t223,544"
3,Bayshore,"\t6,988","\t1,559","\t8,546","\t18,413","\t2,524","\t20,938","\t89,355","\t18,499","\t107,854","\t139,924","\t25,218","\t165,142"
4,South San Francisco,"\t5,466","\t8,232","\t13,698","\t9,030","\t14,846","\t23,876","\t36,345","\t42,800","\t79,144","\t54,161","\t64,380","\t118,541"

Parse out the tabs, then to numeric

In [46]:
original_columns = list(df.columns)

In [78]:
# parse blank spaces and tabs out of data

# create temporary names for original columns so they can be dropped
for col in df.columns[1:]:
    df[col].rename(col+"_")

data = df

# the parsing happend here
for col in original_columns[1:]:
#     print(data[col])
    data = pd.concat([data, data[col].str.split("\t", expand=True)[1].str.replace(",","").rename(col[:-1])], axis=1)
    data.drop(col, axis=1, inplace=True)

In [79]:
# convert to integer
for col in data.columns[1:]:
    data[col] = pd.to_numeric(data[col])

In [80]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 13 columns):
Station               32 non-null object
Population1/2mi201    32 non-null int64
Employment1/2mi201    32 non-null int64
Total1/2mi201         32 non-null int64
Population1/2mi204    32 non-null int64
Employment1/2mi204    32 non-null int64
Total1/2mi204         32 non-null int64
Population2mi201      32 non-null int64
Employment2mi201      32 non-null int64
Total2mi201           32 non-null int64
Population2mi204      32 non-null int64
Employment2mi204      32 non-null int64
Total2mi204           32 non-null int64
dtypes: int64(12), object(1)
memory usage: 3.3+ KB

In [81]:
data.to_csv("parsed_data/Land_Use_Forecasts.csv", index=False)