In [1]:
import pandas as pd

In [2]:
riders = pd.read_csv("../data/Ridership/ridership.csv")

In [3]:
riders.head()

,TOD,Origin_ID,Origin_Name,Dest_ID,Dest_Name,Scenario,Ridership_Number
0,ea,1,Transbay,1,Transbay,Ridership_2017_observed,0
1,ea,1,Transbay,1,Transbay,Ridership_2022_diesel,0
2,ea,1,Transbay,1,Transbay,Ridership_2022_PCEP,0
3,ea,1,Transbay,1,Transbay,Ridership_2029_PCEP_noTransbay,0
4,ea,1,Transbay,1,Transbay,Ridership_2029_PCEP,0

In [4]:
locs = pd.read_csv("../data/station_lat_lon_key.csv")

In [6]:
locs = locs.drop(columns=["nasty_station"]).set_index("pretty_station")

In [18]:
data = riders.join(locs, on="Origin_Name")

In [19]:
data = data.join(locs, on="Dest_Name", rsuffix="_dest")

In [20]:
data.head()

,TOD,Origin_ID,Origin_Name,Dest_ID,Dest_Name,Scenario,Ridership_Number,lat,lon,lat_dest,lon_dest
0,ea,1,Transbay,1,Transbay,Ridership_2017_observed,0,37.789052,-122.397024,37.789052,-122.397024
1,ea,1,Transbay,1,Transbay,Ridership_2022_diesel,0,37.789052,-122.397024,37.789052,-122.397024
2,ea,1,Transbay,1,Transbay,Ridership_2022_PCEP,0,37.789052,-122.397024,37.789052,-122.397024
3,ea,1,Transbay,1,Transbay,Ridership_2029_PCEP_noTransbay,0,37.789052,-122.397024,37.789052,-122.397024
4,ea,1,Transbay,1,Transbay,Ridership_2029_PCEP,0,37.789052,-122.397024,37.789052,-122.397024

In [21]:
data = data.rename(columns={"lat":"lat_origin", "lon":"lon_origin"})

In [22]:
data.to_csv("../data/Ridership/ridership_with_locs.csv")