In [77]:
import pandas as pd

In [134]:
data = pd.read_csv("../data/parsed_data/schedules/all_schedules_metrics.csv")

In [114]:
locs = pd.read_csv("../data/station_locs.csv")

In [115]:
locs = locs.set_index("ZNAME")

In [116]:
locs = locs[['lat', 'lon']]

In [136]:
data["arrival_station"] = (data["arrival_station"].str.split("(").str[0]
    .str.strip()
    .str.replace('SALESFORCE TRANSIT CENTER', 'Transbay')
    .str.title()
    .str.replace('Townsend / 4Th And King \$', '4th and King')
    .str.replace('22Nd Street', '22nd St')
    .str.replace('San Jose Diridon', 'San Jose'))

In [137]:
data["departure_station"] = (data["departure_station"].str.split("(").str[0]
    .str.strip()
    .str.replace('SALESFORCE TRANSIT CENTER', 'Transbay')
    .str.title()
    .str.replace('Townsend / 4Th And King \$', '4th and King')
    .str.replace('22Nd Street', '22nd St')
    .str.replace('San Jose Diridon', 'San Jose'))

In [138]:
sorted(data.departure_station.unique())

['22nd St',
 '4th and King',
 'Atherton',
 'Bayshore',
 'Belmont',
 'Blossom Hill',
 'Broadway',
 'Burlingame',
 'California Avenue',
 'Capitol',
 'Gilroy',
 'Hayward Park',
 'Hillsdale',
 'Lawrence',
 'Menlo Park',
 'Millbrae',
 'Morgan Hill',
 'Mountain View',
 'Palo Alto',
 'Redwood City',
 'San Antonio',
 'San Bruno',
 'San Carlos',
 'San Jose',
 'San Mateo',
 'Santa Clara',
 'South San Francisco',
 'Sunnyvale',
 'Tamien',
 'Transbay']

In [139]:
sorted(locs.index.unique())

['22nd St',
 '4th and King',
 'Atherton',
 'Bayshore',
 'Belmont',
 'Blossom Hill',
 'Broadway',
 'Burlingame',
 'California Ave',
 'Capitol',
 'College Park',
 'Gilroy',
 'Hayward Park',
 'Hillsdale',
 'Lawrence',
 'Menlo Park',
 'Millbrae',
 'Morgan Hill',
 'Mountain View',
 'Palo Alto',
 'Redwood City',
 'San Antonio',
 'San Bruno',
 'San Carlos',
 'San Jose Diridon',
 'San Martin',
 'San Mateo',
 'Santa Clara',
 'South San Francisco',
 'Sunnyvale',
 'Tamien',
 'Transbay']

In [140]:
data_join = data.join(locs, on="departure_station", rsuffix="departure")

In [141]:
data_join = data_join.join(locs, on="arrival_station", rsuffix="_arrival")

In [142]:
data_join.head()

,scenario,departure_station,arrival_station,departure_hour,count_journey_time,mean_journey_time,min_journey_time,max_journey_time,count_wait_time,mean_wait_time,min_wait_time,max_wait_time,isochrone_circle_distance,lat,lon,lat_arrival,lon_arrival
0,Baseline NB,22nd St,Transbay,6,3,8.666667,8,9,60,10.5,0.0,25.0,4312.0,37.757576,-122.392412,37.789052,-122.397024
1,Baseline NB,22nd St,Transbay,7,4,8.500000,8,9,60,9.7,0.0,23.0,4326.0,37.757576,-122.392412,37.789052,-122.397024
2,Baseline NB,22nd St,Transbay,8,4,8.500000,8,9,60,9.7,0.0,23.0,4326.0,37.757576,-122.392412,37.789052,-122.397024
3,Baseline NB,22nd St,Transbay,9,4,8.500000,8,9,60,9.7,0.0,23.0,4326.0,37.757576,-122.392412,37.789052,-122.397024
4,Baseline NB,22nd St,Transbay,10,4,8.500000,8,9,60,9.7,0.0,23.0,4326.0,37.757576,-122.392412,37.789052,-122.397024

In [143]:
data_join = data_join.rename({'lat':'lat_departure', 'lon':'lon_departure'}, axis='columns')

In [ ]:
data_join.to_csv("../data/parsed_data/schedules/all_schedules_metrics.csv", i)