In [184]:
import pandas as pd
import numpy as np

In [185]:
data = pd.read_csv("../data/parsed_data/schedules/all_schedules_metrics_nasty.csv")

In [186]:
unique_stations = pd.DataFrame(np.append(data.departure_station.unique(),['SAN MARTIN','COLLEGE PARK']), columns=["nasty_station"])

In [187]:
unique_stations

                        nasty_station
0                         22nd STREET
1                            ATHERTON
2                            BAYSHORE
3                             BELMONT
4                BLOSSOM HILL (HSR) $
5                            BROADWAY
6                          BURLINGAME
7                   CALIFORNIA AVENUE
8                     CAPITOL (HSR) $
9                      GILROY (HSR) $
10                       HAYWARD PARK
11                          HILLSDALE
12                           LAWRENCE
13                         MENLO PARK
14                           MILLBRAE
15                MORGAN HILL (HSR) $
16                      MOUNTAIN VIEW
17                          PALO ALTO
18                       REDWOOD CITY
19                        SAN ANTONIO
20                          SAN BRUNO
21                         SAN CARLOS
22                           SAN JOSE
23                          SAN MATEO
24                        SANTA CLARA
25               SOUTH SAN FRANCISCO
26                          SUNNYVALE
27                     TAMIEN (HSR) $
28          TOWNSEND / 4TH AND KING $
29  SALESFORCE TRANSIT CENTER (STC) $
30                         SAN MARTIN
31                       COLLEGE PARK

In [217]:
locs = pd.read_csv("../data/station_locs.csv")

In [208]:
locs = locs.rename(columns = {"Unnamed: 0":"SB_order"})

In [214]:
locs = locs.sort_values("SB_order", ascending=False)
locs = locs.reset_index().reset_index().drop(columns="index").rename(columns={"level_0": "NB_order"})

In [215]:
locs

    NB_order  SB_order                ZNAME        lat         lon
0          0        31             Transbay  37.789052 -122.397024
1          1        30          San Antonio  37.407509 -122.107517
2          2        29             Millbrae  37.600058 -122.387164
3          3        28               Gilroy  37.004510 -121.566753
4          4        27           San Martin  37.085953 -121.610443
5          5        26          Morgan Hill  37.129733 -121.650646
6          6        25         Blossom Hill  37.252451 -121.797727
7          7        24              Capitol  37.284001 -121.841841
8          8        23               Tamien  37.312743 -121.884757
9          9        22     San Jose Diridon  37.329734 -121.903380
10        10        21         College Park  37.342875 -121.915667
11        11        20          Santa Clara  37.353207 -121.935494
12        12        19             Lawrence  37.370542 -121.996786
13        13        18            Sunnyvale  37.378844 -122.031407
14        14        17        Mountain View  37.394458 -122.075933
15        15        16       California Ave  37.428925 -122.141309
16        16        15            Palo Alto  37.443192 -122.164412
17        17        14           Menlo Park  37.454817 -122.182345
18        18        13             Atherton  37.464476 -122.197674
19        19        12         Redwood City  37.485760 -122.231362
20        20        11           San Carlos  37.508126 -122.260298
21        21        10              Belmont  37.521203 -122.276244
22        22         9            Hillsdale  37.541572 -122.300689
23        23         8         Hayward Park  37.552945 -122.309426
24        24         7            San Mateo  37.568160 -122.323920
25        25         6           Burlingame  37.579784 -122.344069
26        26         5             Broadway  37.587288 -122.362063
27        27         4            San Bruno  37.630743 -122.411802
28        28         3  South San Francisco  37.654343 -122.406324
29        29         2             Bayshore  37.707716 -122.401817
30        30         1              22nd St  37.757576 -122.392412
31        31         0         4th and King  37.776738 -122.394947

In [ ]:
locs = locs.set_index("ZNAME")

In [191]:
unique_stations["pretty_station"] = (unique_stations["nasty_station"].str.split("(").str[0]
    .str.strip()
    .str.replace('SALESFORCE TRANSIT CENTER', 'Transbay')
    .str.title()
    .str.replace('Townsend / 4Th And King \$', '4th and King')
    .str.replace('22Nd Street', '22nd St')
    .str.replace('San Jose', 'San Jose Diridon')
    .str.replace('California Avenue', 'California Ave'))

In [192]:
data_join = unique_stations.join(locs, on="pretty_station")

In [193]:
data_join.head(10)

          nasty_station  pretty_station        lat         lon
0           22nd STREET         22nd St  37.757576 -122.392412
1              ATHERTON        Atherton  37.464476 -122.197674
2              BAYSHORE        Bayshore  37.707716 -122.401817
3               BELMONT         Belmont  37.521203 -122.276244
4  BLOSSOM HILL (HSR) $    Blossom Hill  37.252451 -121.797727
5              BROADWAY        Broadway  37.587288 -122.362063
6            BURLINGAME      Burlingame  37.579784 -122.344069
7     CALIFORNIA AVENUE  California Ave  37.428925 -122.141309
8       CAPITOL (HSR) $         Capitol  37.284001 -121.841841
9        GILROY (HSR) $          Gilroy  37.004510 -121.566753

In [219]:
station_order = ['Transbay', '4th and King', '22nd St', 'Bayshore',
       'South San Francisco', 'San Bruno', 'Millbrae', 'Broadway',
       'Burlingame', 'San Mateo', 'Hayward Park', 'Hillsdale', 'Belmont',
       'San Carlos', 'Redwood City', 'Atherton', 'Menlo Park',
       'Palo Alto', 'California Ave', 'San Antonio', 'Mountain View',
       'Sunnyvale', 'Lawrence', 'Santa Clara', 'College Park',
       'San Jose Diridon', 'Tamien', 'Capitol', 'Blossom Hill',
       'Morgan Hill', 'San Martin', 'Gilroy']

In [234]:
data_join["SB_order"] = data_join["pretty_station"].apply(lambda x: station_order.index(x))

In [242]:
data_join["NB_order"] = data_join["pretty_station"].apply(lambda x: -(station_order.index(x)-31))

In [243]:
data_join

,nasty_station,pretty_station,lat,lon,SB_order,NB_order
0,22nd STREET,22nd St,37.757576,-122.392412,2,29
1,ATHERTON,Atherton,37.464476,-122.197674,15,16
2,BAYSHORE,Bayshore,37.707716,-122.401817,3,28
3,BELMONT,Belmont,37.521203,-122.276244,12,19
4,BLOSSOM HILL (HSR) $,Blossom Hill,37.252451,-121.797727,28,3
5,BROADWAY,Broadway,37.587288,-122.362063,7,24
6,BURLINGAME,Burlingame,37.579784,-122.344069,8,23
7,CALIFORNIA AVENUE,California Ave,37.428925,-122.141309,18,13
8,CAPITOL (HSR) $,Capitol,37.284001,-121.841841,27,4
9,GILROY (HSR) $,Gilroy,37.004510,-121.566753,31,0
10,HAYWARD PARK,Hayward Park,37.552945,-122.309426,10,21
11,HILLSDALE,Hillsdale,37.541572,-122.300689,11,20
12,LAWRENCE,Lawrence,37.370542,-121.996786,22,9
13,MENLO PARK,Menlo Park,37.454817,-122.182345,16,15
14,MILLBRAE,Millbrae,37.600058,-122.387164,6,25
15,MORGAN HILL (HSR) $,Morgan Hill,37.129733,-121.650646,29,2
16,MOUNTAIN VIEW,Mountain View,37.394458,-122.075933,20,11
17,PALO ALTO,Palo Alto,37.443192,-122.164412,17,14
18,REDWOOD CITY,Redwood City,37.485760,-122.231362,14,17
19,SAN ANTONIO,San Antonio,37.407509,-122.107517,19,12
20,SAN BRUNO,San Bruno,37.630743,-122.411802,5,26
21,SAN CARLOS,San Carlos,37.508126,-122.260298,13,18
22,SAN JOSE,San Jose Diridon,37.329734,-121.903380,25,6
23,SAN MATEO,San Mateo,37.568160,-122.323920,9,22
24,SANTA CLARA,Santa Clara,37.353207,-121.935494,23,8
25,SOUTH SAN FRANCISCO,South San Francisco,37.654343,-122.406324,4,27
26,SUNNYVALE,Sunnyvale,37.378844,-122.031407,21,10
27,TAMIEN (HSR) $,Tamien,37.312743,-121.884757,26,5
28,TOWNSEND / 4TH AND KING $,4th and King,37.776738,-122.394947,1,30
29,SALESFORCE TRANSIT CENTER (STC) $,Transbay,37.789052,-122.397024,0,31
30,SAN MARTIN,San Martin,37.085953,-121.610443,30,1
31,COLLEGE PARK,College Park,37.342875,-121.915667,24,7

In [244]:
data_join.to_csv("../data/station_lat_lon_key.csv", index=False)