In [184]:
import pandas as pd
import numpy as np

In [185]:
data = pd.read_csv("../data/parsed_data/schedules/all_schedules_metrics_nasty.csv")

In [186]:
unique_stations = pd.DataFrame(np.append(data.departure_station.unique(),['SAN MARTIN','COLLEGE PARK']), columns=["nasty_station"])

In [187]:
unique_stations

                        nasty_station
0                         22nd STREET
1                            ATHERTON
2                            BAYSHORE
3                             BELMONT
4                BLOSSOM HILL (HSR) $
5                            BROADWAY
6                          BURLINGAME
7                   CALIFORNIA AVENUE
8                     CAPITOL (HSR) $
9                      GILROY (HSR) $
10                       HAYWARD PARK
11                          HILLSDALE
12                           LAWRENCE
13                         MENLO PARK
14                           MILLBRAE
15                MORGAN HILL (HSR) $
16                      MOUNTAIN VIEW
17                          PALO ALTO
18                       REDWOOD CITY
19                        SAN ANTONIO
20                          SAN BRUNO
21                         SAN CARLOS
22                           SAN JOSE
23                          SAN MATEO
24                        SANTA CLARA
25               SOUTH SAN FRANCISCO
26                          SUNNYVALE
27                     TAMIEN (HSR) $
28          TOWNSEND / 4TH AND KING $
29  SALESFORCE TRANSIT CENTER (STC) $
30                         SAN MARTIN
31                       COLLEGE PARK

In [188]:
locs = pd.read_csv("../data/station_locs.csv")

In [189]:
locs = locs.set_index("ZNAME")

In [190]:
locs = locs[['lat', 'lon']]

In [191]:
unique_stations["pretty_station"] = (unique_stations["nasty_station"].str.split("(").str[0]
    .str.strip()
    .str.replace('SALESFORCE TRANSIT CENTER', 'Transbay')
    .str.title()
    .str.replace('Townsend / 4Th And King \$', '4th and King')
    .str.replace('22Nd Street', '22nd St')
    .str.replace('San Jose', 'San Jose Diridon')
    .str.replace('California Avenue', 'California Ave'))

In [192]:
data_join = unique_stations.join(locs, on="pretty_station")

In [193]:
data_join.head(10)

          nasty_station  pretty_station        lat         lon
0           22nd STREET         22nd St  37.757576 -122.392412
1              ATHERTON        Atherton  37.464476 -122.197674
2              BAYSHORE        Bayshore  37.707716 -122.401817
3               BELMONT         Belmont  37.521203 -122.276244
4  BLOSSOM HILL (HSR) $    Blossom Hill  37.252451 -121.797727
5              BROADWAY        Broadway  37.587288 -122.362063
6            BURLINGAME      Burlingame  37.579784 -122.344069
7     CALIFORNIA AVENUE  California Ave  37.428925 -122.141309
8       CAPITOL (HSR) $         Capitol  37.284001 -121.841841
9        GILROY (HSR) $          Gilroy  37.004510 -121.566753

In [194]:
data_join.to_csv("../data/station_lat_lon_key.csv", index=False)