In [8]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv('../data/parsed_data/schedules/all_schedules_cleaned.csv')

In [12]:
df

,km,station,train_id,time,hr,min,scenario
0,78,SAN JOSE,IC (HSR) 701_single_1,348,5,48,Baseline SB
1,126,GILROY (HSR) $,IC (HSR) 701_single_1,373,6,13,Baseline SB
2,0,SALESFORCE TRANSIT CENTER (STC) $,HSR 801_single_2,310,5,10,Baseline SB
3,24,MILLBRAE,HSR 801_single_2,330,5,30,Baseline SB
4,78,SAN JOSE,HSR 801_single_2,365,6,5,Baseline SB
5,126,GILROY (HSR) $,HSR 801_single_2,391,6,31,Baseline SB
6,0,SALESFORCE TRANSIT CENTER (STC) $,REG (C-EXP) nan_pair_0,313,5,13,Baseline SB
7,2,TOWNSEND / 4TH AND KING $,REG (C-EXP) nan_pair_0,318,5,18,Baseline SB
8,11,BAYSHORE,REG (C-EXP) nan_pair_0,329,5,29,Baseline SB
9,24,MILLBRAE,REG (C-EXP) nan_pair_0,338,5,38,Baseline SB
10,27,BROADWAY,REG (C-EXP) nan_pair_0,341,5,41,Baseline SB
11,33,HAYWARD PARK,REG (C-EXP) nan_pair_0,345,5,45,Baseline SB
12,35,HILLSDALE,REG (C-EXP) nan_pair_0,348,5,48,Baseline SB
13,40,SAN CARLOS,REG (C-EXP) nan_pair_0,352,5,52,Baseline SB
14,43,REDWOOD CITY,REG (C-EXP) nan_pair_0,356,5,56,Baseline SB
15,51,PALO ALTO,REG (C-EXP) nan_pair_0,361,6,1,Baseline SB
16,57,SAN ANTONIO,REG (C-EXP) nan_pair_0,365,6,5,Baseline SB
17,60,MOUNTAIN VIEW,REG (C-EXP) nan_pair_0,369,6,9,Baseline SB
18,65,SUNNYVALE,REG (C-EXP) nan_pair_0,373,6,13,Baseline SB
19,68,LAWRENCE,REG (C-EXP) nan_pair_0,376,6,16,Baseline SB
20,0,SALESFORCE TRANSIT CENTER (STC) $,HSR 901_single_3,316,5,16,Baseline SB
21,2,TOWNSEND / 4TH AND KING $,HSR 901_single_3,321,5,21,Baseline SB
22,78,SAN JOSE,HSR 901_single_3,372,6,12,Baseline SB
23,126,GILROY (HSR) $,HSR 901_single_3,397,6,37,Baseline SB
24,78,SAN JOSE,IC (HSR) 751_single_4,384,6,24,Baseline SB
25,126,GILROY (HSR) $,IC (HSR) 751_single_4,409,6,49,Baseline SB
26,78,SAN JOSE,REG (C-EXP) nan_pair_0,386,6,26,Baseline SB
27,81,TAMIEN (HSR) $,REG (C-EXP) nan_pair_0,389,6,29,Baseline SB
28,0,SALESFORCE TRANSIT CENTER (STC) $,REG (C-EXP) 503_single_5,321,5,21,Baseline SB
29,2,TOWNSEND / 4TH AND KING $,REG (C-EXP) 503_single_5,326,5,26,Baseline SB
...,...,...,...,...,...,...,...
15898,16,MORGAN HILL (HSR) $,REG (C-EXP) nan_pair_123,1431,23,51,HIgh NB
15899,35,BLOSSOM HILL (HSR) $,REG (C-EXP) nan_pair_123,1440,24,0,HIgh NB
15900,40,CAPITOL (HSR) $,REG (C-EXP) nan_pair_123,1444,24,4,HIgh NB
15901,45,TAMIEN (HSR) $,REG (C-EXP) nan_pair_123,1448,24,8,HIgh NB
15902,48,SAN JOSE,REG (C-EXP) nan_pair_123,1451,24,11,HIgh NB
15903,0,GILROY (HSR) $,HSR nan_single_170,1430,23,50,HIgh NB
15904,48,SAN JOSE,HSR nan_single_170,1453,24,13,HIgh NB
15905,101,MILLBRAE,HSR nan_single_170,1485,24,45,HIgh NB
15906,126,SALESFORCE TRANSIT CENTER (STC) $,HSR nan_single_170,1505,25,5,HIgh NB
15907,0,GILROY (HSR) $,HSR nan_single_171,1434,23,54,HIgh NB
15908,48,SAN JOSE,HSR nan_single_171,1457,24,17,HIgh NB
15909,61,SUNNYVALE,REG (C-EXP) nan_pair_123,1468,24,28,HIgh NB
15910,65,MOUNTAIN VIEW,REG (C-EXP) nan_pair_123,1472,24,32,HIgh NB
15911,75,PALO ALTO,REG (C-EXP) nan_pair_123,1478,24,38,HIgh NB
15912,83,REDWOOD CITY,REG (C-EXP) nan_pair_123,1483,24,43,HIgh NB
15913,91,HILLSDALE,REG (C-EXP) nan_pair_123,1489,24,49,HIgh NB
15914,101,MILLBRAE,REG (C-EXP) nan_pair_123,1496,24,56,HIgh NB
15915,109,SOUTH SAN FRANCISCO,REG (C-EXP) nan_pair_123,1501,25,1,HIgh NB
15916,121,22nd STREET,REG (C-EXP) nan_pair_123,1509,25,9,HIgh NB
15917,124,TOWNSEND / 4TH AND KING $,REG (C-EXP) nan_pair_123,1513,25,13,HIgh NB
15918,126,SALESFORCE TRANSIT CENTER (STC) $,REG (C-EXP) nan_pair_123,1517,25,17,HIgh NB
15919,0,GILROY (HSR) $,HSR 38_single_172,1445,24,5,HIgh NB
15920,48,SAN JOSE,HSR 38_single_172,1468,24,28,HIgh NB
15921,101,MILLBRAE,HSR 38_single_172,1500,25,0,HIgh NB
15922,124,TOWNSEND / 4TH AND KING $,HSR 38_single_172,1516,25,16,HIgh NB
15923,126,SALESFORCE TRANSIT CENTER (STC) $,HSR 38_single_172,1520,25,20,HIgh NB
15924,0,GILROY (HSR) $,HSR nan_single_173,1449,24,9,HIgh NB
15925,48,SAN JOSE,HSR nan_single_173,1472,24,32,HIgh NB
15926,0,GILROY (HSR) $,HSR nan_single_174,1464,24,24,HIgh NB
15927,48,SAN JOSE,HSR nan_single_174,1487,24,47,HIgh NB

In [11]:
def stops_to_durations(df):
    #Get departure and arrival stop info
    df_stops_arr = df.copy()
    df = df.rename(columns={"station": "departure_station",
                                        "time": "departure_time",
                                        "hr": "departure_hour",
                                        "min": "departure_minute",
                                        "km": "departure_km"})
    
    df_stops_arr = df_stops_arr.rename(columns={"station": "arrival_station",
                                        "time": "arrival_time",
                                        "hr": "arrival_hour",
                                        "min": "arrival_minute",
                                        "km": "arrival_km"})

    #Join the two on train ID and scenario
    df = df.merge(df_stops_arr, on=['scenario', 'train_id'])

    #Thow out any journeys that do not go forwards in time
    df = df[df['arrival_time'] > df['departure_time']]

    #Add trip duration column
    df['trip_duration'] = df['arrival_time'] - df['departure_time']

    return df
stops_to_durations(df)

,km,departure_station,train_id,departure_time,departure_hour,departure_minute,scenario,arrival_station,arrival_time,arrival_hour,arrival_minute,trip_duration
10325,0,SALESFORCE TRANSIT CENTER (STC) $,REG (C-EXP) nan_pair_44,658,10,58,High SB,SALESFORCE TRANSIT CENTER (STC) $,673,11,13,15
10329,2,TOWNSEND / 4TH AND KING $,REG (C-EXP) nan_pair_44,663,11,3,High SB,TOWNSEND / 4TH AND KING $,678,11,18,15
10333,5,22nd STREET,REG (C-EXP) nan_pair_44,667,11,7,High SB,22nd STREET,682,11,22,15
10337,17,SOUTH SAN FRANCISCO,REG (C-EXP) nan_pair_44,675,11,15,High SB,SOUTH SAN FRANCISCO,690,11,30,15
10341,24,MILLBRAE,REG (C-EXP) nan_pair_44,680,11,20,High SB,MILLBRAE,695,11,35,15
10345,35,HILLSDALE,REG (C-EXP) nan_pair_44,687,11,27,High SB,HILLSDALE,702,11,42,15
10349,43,REDWOOD CITY,REG (C-EXP) nan_pair_44,693,11,33,High SB,REDWOOD CITY,708,11,48,15
10353,51,PALO ALTO,REG (C-EXP) nan_pair_44,698,11,38,High SB,PALO ALTO,713,11,53,15
10357,60,MOUNTAIN VIEW,REG (C-EXP) nan_pair_44,704,11,44,High SB,MOUNTAIN VIEW,719,11,59,15
10361,65,SUNNYVALE,REG (C-EXP) nan_pair_44,708,11,48,High SB,SUNNYVALE,723,12,3,15
10473,0,SALESFORCE TRANSIT CENTER (STC) $,REG (C-EXP) nan_pair_49,718,11,58,High SB,SALESFORCE TRANSIT CENTER (STC) $,733,12,13,15
10477,2,TOWNSEND / 4TH AND KING $,REG (C-EXP) nan_pair_49,723,12,3,High SB,TOWNSEND / 4TH AND KING $,738,12,18,15
10481,5,22nd STREET,REG (C-EXP) nan_pair_49,727,12,7,High SB,22nd STREET,742,12,22,15
10485,17,SOUTH SAN FRANCISCO,REG (C-EXP) nan_pair_49,735,12,15,High SB,SOUTH SAN FRANCISCO,750,12,30,15
10489,24,MILLBRAE,REG (C-EXP) nan_pair_49,740,12,20,High SB,MILLBRAE,755,12,35,15
10493,35,HILLSDALE,REG (C-EXP) nan_pair_49,747,12,27,High SB,HILLSDALE,762,12,42,15
10497,43,REDWOOD CITY,REG (C-EXP) nan_pair_49,753,12,33,High SB,REDWOOD CITY,768,12,48,15
10501,51,PALO ALTO,REG (C-EXP) nan_pair_49,758,12,38,High SB,PALO ALTO,773,12,53,15
10505,60,MOUNTAIN VIEW,REG (C-EXP) nan_pair_49,764,12,44,High SB,MOUNTAIN VIEW,779,12,59,15
10509,65,SUNNYVALE,REG (C-EXP) nan_pair_49,768,12,48,High SB,SUNNYVALE,783,13,3,15
10621,0,SALESFORCE TRANSIT CENTER (STC) $,REG (C-EXP) nan_pair_54,778,12,58,High SB,SALESFORCE TRANSIT CENTER (STC) $,793,13,13,15
10625,2,TOWNSEND / 4TH AND KING $,REG (C-EXP) nan_pair_54,783,13,3,High SB,TOWNSEND / 4TH AND KING $,798,13,18,15
10629,5,22nd STREET,REG (C-EXP) nan_pair_54,787,13,7,High SB,22nd STREET,802,13,22,15
10633,17,SOUTH SAN FRANCISCO,REG (C-EXP) nan_pair_54,795,13,15,High SB,SOUTH SAN FRANCISCO,810,13,30,15
10637,24,MILLBRAE,REG (C-EXP) nan_pair_54,800,13,20,High SB,MILLBRAE,815,13,35,15
10641,35,HILLSDALE,REG (C-EXP) nan_pair_54,807,13,27,High SB,HILLSDALE,822,13,42,15
10645,43,REDWOOD CITY,REG (C-EXP) nan_pair_54,813,13,33,High SB,REDWOOD CITY,828,13,48,15
10649,51,PALO ALTO,REG (C-EXP) nan_pair_54,818,13,38,High SB,PALO ALTO,833,13,53,15
10653,60,MOUNTAIN VIEW,REG (C-EXP) nan_pair_54,824,13,44,High SB,MOUNTAIN VIEW,839,13,59,15
10657,65,SUNNYVALE,REG (C-EXP) nan_pair_54,828,13,48,High SB,SUNNYVALE,843,14,3,15
...,...,...,...,...,...,...,...,...,...,...,...,...
12185,0,SALESFORCE TRANSIT CENTER (STC) $,REG (C-EXP) nan_pair_109,1258,20,58,High SB,SALESFORCE TRANSIT CENTER (STC) $,1273,21,13,15
12189,2,TOWNSEND / 4TH AND KING $,REG (C-EXP) nan_pair_109,1263,21,3,High SB,TOWNSEND / 4TH AND KING $,1278,21,18,15
12193,5,22nd STREET,REG (C-EXP) nan_pair_109,1267,21,7,High SB,22nd STREET,1282,21,22,15
12197,17,SOUTH SAN FRANCISCO,REG (C-EXP) nan_pair_109,1275,21,15,High SB,SOUTH SAN FRANCISCO,1290,21,30,15
12201,24,MILLBRAE,REG (C-EXP) nan_pair_109,1280,21,20,High SB,MILLBRAE,1295,21,35,15
12205,35,HILLSDALE,REG (C-EXP) nan_pair_109,1287,21,27,High SB,HILLSDALE,1302,21,42,15
12209,43,REDWOOD CITY,REG (C-EXP) nan_pair_109,1293,21,33,High SB,REDWOOD CITY,1308,21,48,15
12213,51,PALO ALTO,REG (C-EXP) nan_pair_109,1298,21,38,High SB,PALO ALTO,1313,21,53,15
12217,60,MOUNTAIN VIEW,REG (C-EXP) nan_pair_109,1304,21,44,High SB,MOUNTAIN VIEW,1319,21,59,15
12221,65,SUNNYVALE,REG (C-EXP) nan_pair_109,1308,21,48,High SB,SUNNYVALE,1323,22,3,15
12333,0,SALESFORCE TRANSIT CENTER (STC) $,REG (C-EXP) nan_pair_114,1318,21,58,High SB,SALESFORCE TRANSIT CENTER (STC) $,1333,22,13,15
12337,2,TOWNSEND / 4TH AND KING $,REG (C-EXP) nan_pair_114,1323,22,3,High SB,TOWNSEND / 4TH AND KING $,1338,22,18,15
12341,5,22nd STREET,REG (C-EXP) nan_pair_114,1327,22,7,High SB,22nd STREET,1342,22,22,15
12345,17,SOUTH SAN FRANCISCO,REG (C-EXP) nan_pair_114,1335,22,15,High SB,SOUTH SAN FRANCISCO,1350,22,30,15
12349,24,MILLBRAE,REG (C-EXP) nan_pair_114,1340,22,20,High SB,MILLBRAE,1355,22,35,15
12353,35,HILLSDALE,REG (C-EXP) nan_pair_114,1347,22,27,High SB,HILLSDALE,1362,22,42,15
12357,43,REDWOOD CITY,REG (C-EXP) nan_pair_114,1353,22,33,High SB,REDWOOD CITY,1368,22,48,15
12361,51,PALO ALTO,REG (C-EXP) nan_pair_114,1358,22,38,High SB,PALO ALTO,1373,22,53,15
12365,60,MOUNTAIN VIEW,REG (C-EXP) nan_pair_114,1364,22,44,High SB,MOUNTAIN VIEW,1379,22,59,15
12369,65,SUNNYVALE,REG (C-EXP) nan_pair_114,1368,22,48,High SB,SUNNYVALE,1383,23,3,15
12481,0,SALESFORCE TRANSIT CENTER (STC) $,REG (C-EXP) nan_pair_119,1378,22,58,High SB,SALESFORCE TRANSIT CENTER (STC) $,1393,23,13,15
12485,2,TOWNSEND / 4TH AND KING $,REG (C-EXP) nan_pair_119,1383,23,3,High SB,TOWNSEND / 4TH AND KING $,1398,23,18,15
12489,5,22nd STREET,REG (C-EXP) nan_pair_119,1387,23,7,High SB,22nd STREET,1402,23,22,15
12493,17,SOUTH SAN FRANCISCO,REG (C-EXP) nan_pair_119,1395,23,15,High SB,SOUTH SAN FRANCISCO,1410,23,30,15
12497,24,MILLBRAE,REG (C-EXP) nan_pair_119,1400,23,20,High SB,MILLBRAE,1415,23,35,15
12501,35,HILLSDALE,REG (C-EXP) nan_pair_119,1407,23,27,High SB,HILLSDALE,1422,23,42,15
12505,43,REDWOOD CITY,REG (C-EXP) nan_pair_119,1413,23,33,High SB,REDWOOD CITY,1428,23,48,15
12509,51,PALO ALTO,REG (C-EXP) nan_pair_119,1418,23,38,High SB,PALO ALTO,1433,23,53,15
12513,60,MOUNTAIN VIEW,REG (C-EXP) nan_pair_119,1424,23,44,High SB,MOUNTAIN VIEW,1439,23,59,15
12517,65,SUNNYVALE,REG (C-EXP) nan_pair_119,1428,23,48,High SB,SUNNYVALE,1443,24,3,15

In [ ]:
'''
Hour
origin_id
origin_name
dest_id
scenario
Min Wait at Origin Station
Average Wait at Origin Station
Max Wait at Origin Station
Min Length of Journey
Average Length of Journey
Max Length of Journey
CO2 Emissions
Ridership Number
'''